<div class="card" style="width: 18rem;">
  <!-- <img src="{{heroAux.imagen}}" class="card-img-top" alt="{{heroAux.nombre}}"> -->
  <div class="card-body">
    <h5 class="card-title">{{heroAux.nombre}}</h5>
    <p class="card-text">{{heroAux.alias}}</p>
    <div class="d-flex">
      <p class="price"> $ {{heroAux.altura}}</p>
      <!-- <button routerLink="/productos/detalle/{{productoAux.id}}/{{productoAux.esInsumo}}"
        routerLinkActive="router-link-active" class="btn btn-outline-success" type="submit">Detalle</button> -->
    </div>
  </div>
</div>
